<html>
    <body>
        <h1>Create your articles here {{username}}!</h1>

        <form action="/./blog/create/" method="post">
            {% csrf_token %}
            <input type="text" name="title">
            <textarea name="article_body"></textarea>
            <button>Publish</button>
        </form>

        {% for article in articles %}
        <div>
            <h3>{{article.title}}</h3>
            <p>{{article.body}}</p>
            <h5>{{username}}</h5>
        </div>
        {% endfor %}
    </body>
</html>