<html>
    <body>
        <h1>Front page of super awesome web page</h1>
        <div>
            {% for t in titles %}
            <a href="#">{{t}}</a>
            {% endfor %}
        </div>
        
        {% if user.is_authenticated %}
        <h3>Logged in as {{username}}</h3>
        <form action="/./blog/logout/" method="post">
            {% csrf_token %}
            <input type="hidden" name="form3_id" value="front">
            <button>Log out</button>
        </form>
        {% else %}
        <form action="/./blog/login/" method="post">
            {% csrf_token %}
            <input type="hidden">
            <button>Sign in</button>
        </form>
        {% endif %}
    </body>
</html>