<html>
    <body>
        <h2>Register</h2>
        <form id="register" method="post">
            {% csrf_token %}
            <label>Username</label>
            <input type="text" name="username">
            <label>Password</label>
            <input type="password" name="pwd">
            <!-- {{form}} --> <!-- This form gives stuff above. -->
            <button type="submit">register</button>
        </form>
        {% if messages %}
        <ul class="messages">
        {% for message in messages %}
            <li class="{{ message.tags }}">{{ message }}</li>
        {% endfor %}
        </ul>
        {% endif %}
    </body>
</html>